@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
    font-Family:"Inter", sans-serif;
    height: 80vh;
   

}
.container{
    background-color: hsl(0, 0%, 12%);  
    border: 2px solid hsl(0, 0%, 12%); 
    width: 350px;
    height: 480px;  
    border-radius:10px ;
    bottom: 60%;        
}


img{
    height: 70px;
    border-radius: 50%;
    position: relative;
    left: 40%;
    top:40px;

}
h1{
    text-align: center;
    position: relative;
    top: 38px;
    font-size: 20px;
    color: hsl(0, 0%, 100%);

}
h5{
    text-align: center;
    color: hsl(75, 94%, 57%);
    position: relative;
    top: 25px;
    font-size: 12px;
    
}
p{
    color: black;
    color: hsl(0, 0%, 100%);
    position: relative;
    top: 20px;
    font-size: 12px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.button{
    width: 300px;
    padding: 15px 0 0 25px;
    border-radius: 8px;
    display: grid;
    gap: 15px;
    margin-top: 20px;
     
}

.btn{
     background-color: hsl(0, 0%, 20%);
     color: white;
      padding: 10px 70px;
      border-radius: 8px;
      width: 100%;
      border: none;
  
}
    
.btn:hover{
    background-color:hsl(75, 94%, 57%) ;
    color: black;
    cursor: pointer;
}



